@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

.app_main-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 99vh;
}

.app_faq {
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;

  a {
    color: #fff;
  }
}

.app_wrapper {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 50px;
}

.app_content {
  width: 50%;
  background-color: #2727275e;
  padding: 1.5rem;
  border-radius: 0.8rem;
  font-size: 18px;
}

.app_title {
  margin-bottom: 5px !important;
}

.app_subtitle {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 22px;
}

.app_description {
  line-height: 28px;
}

.app_search {
  background-color: #fffffffa;
  border-radius: 10px;
  margin-bottom: 10px;
}

.app_raiting-block {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.app_raiting-text {
  margin-right: 7px;
  font-size: 22px;
}

.app_killer {
  display: flex;
  align-items: center;
  img {
    width: 300px;
    height: auto;
  }
}

.raiting-dot {
  background-color: #920000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 3px 2px 0 2px;
}

@media screen and (max-width: 400px) {
  .app_wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 15px 20px;
    height: auto;
  }
  .app_content {
    width: 90%;
  }
  .app_title {
    font-size: 28px;
  }
  .app_subtitle {
    font-size: 18px;
  }
  .app_killer {
    margin-top: 10px;
    img {
      width: auto;
    }
  }
}
